
/* Fonts import */  
// @font-face { 
//     font-family: "Montserrat-Light";
//     src: url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.eot"); 
// }
  
//   @font-face {
//     font-family: "Montserrat-ExtraLight";
//     src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.eot"); 
// }
  
//   @font-face {
//     font-family: "Montserrat-Medium";
//     src: url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.eot"); 
// }
  
//   @font-face {
//     font-family: "Montserrat-Regular";
//     src: url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.eot"); 
// } 
  
//   @font-face {
//     font-family: "Montserrat-SemiBold";
//     src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.eot"); 
// }
  
//   @font-face {
//     font-family: "Montserrat-Bold";
//     src: url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.eot"); 
// } 
  
  
//   @font-face {
//     font-family: "Montserrat-Black";
//     src: url("../fonts/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.eot"); 
// }
  
//   @font-face {
//     font-family: "Awesome-Brand";
//     src: url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.eot"); 
// }
  

  
//   @font-face {
//     font-family: "Awesome-Regular";
//     src: url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.eot"); 
// }

a,h1,h2,h3,h4,h5{
    color:$black;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
