{% extends 'main.twig' %}

{% block content %}
<section class="single-page-module">
    <div class="container">
        <div class="heading-block">
            <h1 class="page-heading">404 page not found</h1>
        </div>
        <div class="page-content">
            <div class="links-404">
              <p>
                Something went wrong, go back to the  <a href="/" class="go-home">main page</a>
              </p>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}