<section class="back-button">
    <div class="container">
        <a href="{{ module.back_button_link.url }}" class="font-roboto"> 
            <div class="back-arrow">
                <img src="{{ module.back_icon.url }}" alt="{{ module.back_icon.alt }}">
            </div>
             <p>{{ module.back_button_link.title }}</p>
        </a>
    </div>
</section>